footer {
  position: relative;
  width: 100%;
  background: rgb(34 34 34 / 25%);
  min-height: 9rem;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .footer-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

footer .footer-menu li {
  list-style: none;
}

footer .footer-menu li a {
  font-size: 20px;
  margin: 0 1rem;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
}

footer p {
  font-size: 16px;
  color: var(--white);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

@media (max-width: 770px) {
  footer .footer-menu {
    flex-direction: column;
  }
}
