#post-independence {
  min-height: calc(100vh - 7rem);
  padding-top: 1rem;
  background-color: var(--white);
}

.main-post-ind {
  display: flex;
  justify-content: center;
  align-items: baseline;
  min-height: 90vh;
  margin-top: 20px;
}

.container-post-ind {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container-post-ind .card-post-ind {
  position: relative;
  max-width: 450px;
  background-color: var(--white);
  margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  box-shadow: 1px -3px 10px 3px rgba(0, 0, 0, 0.1);
}

.container-post-ind .card-post-ind .imgBx {
  max-width: 150px;
  flex: 0 0 150px;
}

.container-post-ind .card-post-ind .imgBx img {
  max-width: 100%;
}

.container-post-ind .card-post-ind .content-post-ind {
  margin-left: 20px;
}

@media (max-width: 991px) {
  .container-post-ind {
    flex-direction: column;
  }
  .container-post-ind .card-post-ind {
    flex-direction: column;
    max-width: 350px;
  }
  .container-post-ind .card-post-ind .imgBx {
    max-width: 100%;
  }
  .container-post-ind .card-post-ind .content-post-ind {
    margin-left: 0px;
  }
}

/* * India Today Section */

#india-today {
  min-height: calc(100vh - 8rem);
  background-color: var(--background);
  color: var(--white);
}

#india-today .heading h1 {
  margin: 0.5em 0;
}

#india-today .india-today-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#india-today .container-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

#india-today .container-card .card-glass {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

#india-today .container-card .card-glass .content-card {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

#india-today .container-card .card-glass:hover .content-card {
  transform: translateY(0px);
  opacity: 0.8;
}

#india-today .container-card .card-glass .content-card h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

#india-today .container-card .card-glass .content-card h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

#india-today .container-card .card-glass .content-card p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
