/* ? FONTS */
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&family=Poppins&display=swap");

@font-face {
  font-family: "ESL Legend";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ESLLegend-Regular.ttf);
}

/* ? BASE CSS */
:root {
  --white: #ffffff;
  --text: #ff942a;
  --background: #0c0c0c;
  --link: #1ab3de;
  --deco: #00a038;
  --timeline: #4da6ba;
  --side: #f1f1f1;
  --glass: hsl(0 0% 100% / 0.1);
  --tri-color: linear-gradient(
    to top,
    #008631,
    #009e7d,
    #00b3b8,
    #74c3dd,
    #bad3ec,
    #cad3f3,
    #ded3f6,
    #f3d2f2,
    #ffb5db,
    #ff96ae,
    #ff7f70,
    #ff781f
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--background);
  overflow-x: clip;
  font-family: "Playfair Display", serif;
  height: 100%;
}

/* ? Scroll Bar */
::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track {
  background: var(rgba(0, 0, 0, 0.005)) !important;
}

::-webkit-scrollbar-thumb {
  background: var(--link) !important;
  border-radius: 2px !important;
}

/* ? UTILITIES */

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.title {
  font-family: "Oswald", sans-serif;
  color: var(--text);
  margin: 1.5em 0;
  text-align: center;
  text-decoration: underline;
}

.title-y {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #ff9f1c;
  text-decoration: underline;
}

#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .title {
    margin: 0.75em 0;
    font-size: 1.5rem;
  }
}
