.waves {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  padding-bottom: 5rem;
}

.waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 3em;
  transform: rotateY(180deg);
}

.waves .shape-fill {
  fill: var(--white);
}
